* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.arskaNappi {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#arskakuva {
  width: 100%;
}

table {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: auto;
  width: 90%;
  text-align: center;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

th {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

td {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-left: solid 1px #000;
  width: 40%;
}

td:nth-child(1) {
  width: 10%;
  border: none;
}

p {
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-align: left;
}

.c {
  text-align: center;
  width: 100vw;
}

body {
  background-color: #ffffff;
}

header {
  width: 100%;
  text-align: center;
  background-color: #253764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  height: 3rem;
  margin: 0.7rem 0.3rem 0 0;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

header h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5rem 0;
  font-size: 2rem;
}

section {
  text-align: center;
  padding: 1rem;
}

.list {
  text-align: start;
}

.list li {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.1rem;
}

#markusTeht {
  border: solid 1px #253764;
  border-radius: 30px;
  padding: 0.8rem;
  font-weight: 900;
  font-size: 1.6rem;
  background-color: #fff;
  color: #253764;
  margin: 1rem;
}

#markus-teht {
  padding: 1rem;
}

.sanat {
  width: 100vw;
  text-align: left;
  /* img {
        width: 100vw;
    } */
}

.sanat .kerto {
  padding: .5rem 3rem;
}

.sanat p {
  letter-spacing: 1px;
  line-height: 1.6;
  padding: .5rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showSong {
  border: none;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: solid 1px #999;
  padding: 0.7rem 0;
  width: 80vw;
}

.a h1 {
  color: red;
}

nav {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: solid 0.5px #999;
  padding: 0.3rem;
}

nav img {
  height: 2rem;
  padding: 0.3rem;
}

nav .active {
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 50px;
}

#ulkolaksyt article {
  text-align: left;
  padding: 1rem 0;
}

#ulkolaksyt article h2 {
  margin-left: 1rem;
}

#ulkolaksyt article p {
  margin-left: 1.5rem;
}

#ulkolaksytSV article {
  text-align: left;
  padding: 1rem 0;
}

#ulkolaksytSV article h2 {
  margin-left: 1rem;
}

#ulkolaksytSV article p {
  margin-left: 1.5rem;
}

#ulkolaksytSV li {
  padding-right: 2rem;
}

#tehtavia .showSong {
  width: 70vw;
}

.space {
  height: 200px;
}

#ristikot article {
  padding: 0.5rem;
}

#ristikot article h2 {
  padding: 1rem;
}

#ristikot article h3 {
  padding: 0 20vw 0.5rem 20vw;
}

#ristikot article p {
  text-align: left;
  padding: 0.5rem 3rem;
}

#ristikot #ristiko1 {
  width: 50vw;
}

#ristikot #ristiko2 {
  width: 80vw;
}
/*# sourceMappingURL=main.css.map */